.node circle {
  fill: transparent;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 1.5px;
}

text{
  color: white;
}

svg{
  overflow: auto;
}
